/* ********** Home ********** */
.Home {
  background: {
    image: url('./img/hero-image.jpg');
    repeat: no-repeat;
    size: cover;
    position: center;
  }
  color: $light;

  &-bgOpacity {
    padding: 1rem;
    background-color: rgba(74, 183, 92, .75);
  }

  &-container {
    margin: auto;
    max-width: $header-container-width;
    min-height: calc(100vh - 2.875rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &-footer {
    margin: auto;
    max-width: $header-container-width;
    text-align: right;
  }
}

/* ********** Explore ********** */
.Explorar {
  max-width: $header-container-width;
  margin: auto;

  &-aside {
    display: none;
    background-color: #FFF;
  }

  &-main {

  }
}

@media screen and (min-width: 64em) {
  .Explorar {
    /* padding-top: calc( #{$header-height} + 2rem ); */
    display: flex;

    &-aside {
      margin-top: 1rem;
      display: block;
    }

    &-main {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
  }
}

/* ********** Ingreso ********** */

.Ingresar {
  padding-top: 20vh;
  margin: auto;
  width: 80%;

  &-menu {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  &-registro {
    display: flex;
    justify-content: center;
  }
}

/* ********** Subscription ********** */

.Subscription {
  & header {
    margin: 2rem 0;
  }

  & .PayU {
    border-bottom: thin solid $light;
    border-top: thin solid $light;
    padding: 1rem;

    & form {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & .Form-element {
        margin-bottom: 0;
      }

      & input[type="submit"] {
        margin: 0;
      }
    }
  }

}

/* ********** Secciones ********** */

.Series,
.Chapters,
.Users,
.Prices,
.Subscription,
.History {
  margin: auto;

  & .u-container {
    width: 80%;
  }

  @media screen and (min-width: 64em) {
    width: 80%;
  }
}

